/NinjaTerm/bak
/NinjaTerm/*.prg
/NinjaTerm/*.dbg
/NinjaTerm/*.dmp
NinjaTerm/NinjaTerm.dup
NinjaTerm/NinjaTerm.vic20
NinjaTerm/NinjaTerm.vic20.lbl
NinjaTerm/ca65_plugin_build.sh
NinjaTerm/ult.bin
NinjaTerm/NT40.cst
NinjaTerm/ninjaterm
